@page {
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    size: a4 landscape;
}

div.main {
    text-align: center;
    width: 100% !important;
    height: 700px;
    margin:0px !important;
    

}

.audit-stats-block {
    text-align: left;
}

div.main img {
    height:650px;
    margin-top:25px;
}

h4 {
    text-align: center;
}

* {
    font-family: 'Roboto' !important;
}

table.report-table {
    width: 100%;
}

table.report-table tr td.red-light-header {
    background: darkred;
    color: white;
    border: 2px solid black;
    font-weight: bold;
}

table.report-table tr td {
    text-align: center;
    border: 1px solid black;
    margin-right: 0;
}

table.report-table tr {
    border: 1px solid black;
}

table.report-table tr td.non-conforming-header {
    background: sandybrown;
    color: white;
    border: 2px solid black;
    font-weight: bold;
}

table.report-table tr td.staff-question-header {
    background: mediumseagreen;
    color: white;
    border: 2px solid black;
    font-weight: bold;
}

td.pass {
    background-color: green;
    color: white;
    font-weight: bold;
}

td.fail {
    background-color: red;
    color: white;
    font-weight: bold;
}

table, tr, td {
    margin: 0 !important;
}